body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 80%;
  margin: 30 auto;
  padding: 20px;
}
.image_preview{
  width: 100%;
  min-height: 50%;
  border: 6px dashed gray;
  margin-top:15px;

  /*Display Text*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: gray;
}

.image_preview_image{
  display: none;
  width: 100%;

}
input[type="file"] {
  display: none;
}