@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 50%;
  margin: 30 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 900px) {
  .file-upload {
    width: 100%;
  }
}
.indent {
  margin-left: 20px;
}

.image_preview_image{
  max-width: 400px;
  max-height: 600px;
}
@media only screen and (max-width: 500px) {
  .image_preview_image{
    max-width: 80%;
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img-label{
  margin-top: 15px;
}
input[type="file"] {
  display: none;
}
.swal-wide{
  width:850px !important;
}
.videoCapture {
  display: none;
}
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #000000;
  outline: none;
  opacity: 20;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #2b699e;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
video {
  width: 100%;
  height: auto;
}
