body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 50%;
  margin: 30 auto;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 900px) {
  .file-upload {
    width: 100%;
  }
}
.indent {
  margin-left: 20px;
}

.image_preview_image{
  max-width: 400px;
  max-height: 600px;
}
@media only screen and (max-width: 500px) {
  .image_preview_image{
    max-width: 80%;
  }
}
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img-label{
  margin-top: 15px;
}
input[type="file"] {
  display: none;
}
